@tailwind base;
@tailwind components;
@tailwind utilities;

.screen:after {
  width: 25%;
  bottom: 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}

.screen-overlay {
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0px;
  top: 0px;
}

@keyframes pan-image {
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }

  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }

  20.0001% {
    /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }

  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }

  40.0001% {
    /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }

  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }

  60.0001% {
    /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }

  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }

  80.0001% {
    /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }

  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}

.screen > .screen-image {
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-position: 0% 0%;
  filter: sepia(100%) hue-rotate(200deg);
  opacity: 0.6;
}

.screen > .screen-content > .screen-title > :is(.title, .links-item, .stack) {
  font-family: "Source Code Pro", monospace;
  text-align: center;
  text-transform: uppercase;
}

.screen > .screen-content > .screen-title > .links-item {
  letter-spacing: 0.3rem;
  text-decoration: none;
}

.screen > .screen-content > .screen-title > .links-item:is(:hover, :focus) {
  text-decoration: none;
}
